.keyList {
    background-color: var(--vscode-sideBar-background);
    display: block;
    padding: 1rem;
    margin: 1rem;
    border: 0.25rem solid var(--vscode-widget-border);
    box-shadow: 0 0 0.5rem 0.1rem var(--vscode-sideBar-foreground);
    font-family: var(--vscode-editor-font-family);
}


.keyListTitle {
    font-weight: bolder;
    text-decoration: underline;
    font-family: var(--vscode-editor-font-family);
    font-size: var(--vscode-editor-font-size);
    color: var(--vscode-foreground);

}


button {
    background-color: var(--vscode-button-secondaryBackground);
    color: var(--vscode-button-secondaryForeground);
}

button:hover {
    background-color: var(--vscode-button-secondaryHoverBackground);
    cursor: pointer;

}

;

button:active {
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
}


code {
    background-color: var(--vscode-textBlockQuote-background);
    /* color: var(--vscode-editor-foreground); */
}




.save-to-file-button,
.copy-all-key-names-button {
    display: block;
    min-width: 10rem;

    padding-top: 0.25rem;
    padding-bottom: 0.25rem;

    margin: 0.25rem;
}

.misc-buttons-box {
    border: 0.25rem solid var(--vscode-breadcrumb-background);
    background-color: rgba(125, 125, 125, 0.25);
    padding: 0.5rem;
    padding-left: 0.1rem;
    width: fit-content;
    margin: 1rem;
}