.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts



**/*.env
dist/**
**/.npmrc
**/.prettierrc
temp/**

tools/**

images/readme_only/**